* {
	margin: 0;
}
body {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 1.2rem;
	font-family: 'Fira Sans', sans-serif;
}
header{
	background-color: gold;
}
header h1{
	text-align: center;
}
p{
	margin-top: 7px;
}
main{
	padding-top: 10px;
	margin: 10px;
}
main canvas{
	width: 780px;
	height: 700px;
	float: left;
	background: #4270ce;
}
main form{
	width: 390px;
	height: 700px;
	border: 1px solid gray;
	border-radius: 8px;
	float: right;
}
main form section {
	margin-top: 15px;
	padding-left: 21px;
}
main form section button {
	margin-top: 10px;
}
main form section select {
	width: 200px;
}
/*for padding paragraphs with buttons*/ 
.button{
	padding-left: 105px;
}
.twoButtons{
	padding-left: 75px;
}

main form label{
	display: inline-block;
}
main form legend{
	background-color: black;
	color: white;
}
main form #sleepingTime{
	width: 2.5em;
}
main form section canvas {
	width: 300px;
	height: 300px;
	margin-top: 10px; 
}
