* {
	margin: 0;
}
body {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 1.2rem;
	font-family: 'Fira Sans', sans-serif;
}
header{
	background-color: gold;
	box-shadow: .1rem .1rem .3rem black;
	border-radius: .3rem;
}
header h1{
	text-align: center;
}
p{
	margin-top: 7px;
}
main{
	display: flex;
	padding-top: 10px;
	margin: 10px;
}
main .dayShow{
	flex: 2;
	background: #24ea50;
	padding: 1rem;
}
main .adding{
	flex: 1;
	margin-left: .2rem;
	border: 1px solid gray;
	border-radius: 8px;
	min-height: 30rem;
}
main .adding section {
	margin-top: 15px;
	padding-left: 21px;
}
main .adding section button {
	margin-top: 10px;
}
main .adding .hidden{
	display: none;
}
/*for padding paragraphs with buttons*/ 
.button{
	padding-left: 105px;
}
.twoButtons{
	padding-left: 75px;
}

main .adding label{
	display: inline-block;
}
main .adding legend{
	background-color: black;
	color: white;
}
main .adding [type="number"]{
	width: 2.5em;
}
main .adding fieldset {
	max-width: 319px;
}

.done{
	text-decoration: line-through;
	color: silver;
	list-style-image: url("../img/Done_17w.png");
	text-align: right;
}